@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  background-color: #1b2029;
  color: white;
  font-weight: 500;
  display: flex;
  min-height: 100vh;
}

main {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main h1 {
  color: #8880fe;
  font-size: 2rem;
  margin-bottom: 1rem;
}

main .social-media {
  display: flex;
  align-content: center;

}

main .social-media img {
  width: 36px;
  margin-left: 3rem;
}

main .social-media a:first-child img {
  margin-left: 0;
}

main form {
  display: flex;
  background: #202838;
  flex-direction: column;
  align-items: center;
  border: 1px solid #040b18;
  border-radius: 20px;
  padding: 1rem;
  padding-top: 0;
}

main form label {
  display: flex;
  flex-direction: column;
}

main form label span {
  font-size: 1.1rem;
  margin-top: 1rem;
}

main form input {
  background:#1c202cd5;
  width: 300px;
  height: 50px;
  padding: 0 0.5rem;
  margin-top: 1rem;
  outline: none;
  color: rgb(166, 166, 166);
  font-size: 1rem;
  border: 1px solid #040b18;
  border-radius: 8px;
}

main form #password {
  margin-bottom: 2rem;
}

main form input[type="submit"] {
  cursor: pointer;
  width: 80%;
  margin-top: 2rem;
  border: none;
  border-radius: 32px;
  background: #6c63ff;
  color: white;
  font-size: 1.1rem;
  transition: all .3s ease-in-out;
}

main form input[type="submit"]:hover {
  background: #5952d4;
}

section.images {
  display: flex;
  align-items: flex-end;
  padding: 4rem;
}

section.images img {
  width: 90%;

}